[2014-01-21 12:49] neilcrookes opened #1 "Installation issue"
After installing, when running:

[code]

I get the following error:

PHP Fatal error:  Class 'anlutro\LaravelSettings\ServiceProvider' not found in /path/to/my/app/vendor/laravel/framework/src/Illuminate/Foundat
ion/ProviderRepository.php on line 123

[2014-01-21 14:14] #1 closed, assigned to nobody

[2014-01-21 14:43] neilcrookes opened #2 "FatalErrorException Class Setting Not Found"
I'm getting FatalErrorException Class 'Setting' not found when using the Facade method

// app/config/app.php

[code]

Although type hinting in my controller, does work, using the Facade approach does not. The actual place where I want to use this package is in the before_save closure in a settings config file for FrozenNode's Administrator package, so I need to use the Facade method.

[2014-01-21 15:56] #2 closed, assigned to nobody

[2014-01-30 21:34] Dandeyl opened #3 "Shared and individual settings"
Hi anlutro and thank you for this nice package. I wanted to ask if in a future release it could be possible to have shared and individual settings. As far as I see you can only have one of the two at the moment.

With shared I mean settings, that are the same for everyone. If you change the name of the website in a CMS, it gets changed for everyone.
If you change the backend interface language you

[2014-04-13 01:47] gcphost opened #4 "Undefined variable: keys"
if ($this->has($key)) unset($this->data[$keys]);

Should be
if ($this->has($key)) unset($this->data[$key]);

 \anlutro\l4-settings\src\SettingStore.php
    /**
     \* Unset a key in the settings data.
     *
     \* @param  string $key
     */
    public function forget($key)
    {
        if ($this->has($key)) unset($this->data[$keys]);
    }

[2014-04-13 09:06] #4 closed, assigned to nobody

[2014-05-03 15:56] gcphost opened #5 "Accessing a setting that doesnt exist yields 'Illegal offset type in isset or empty'"
Trying to check if a setting exists or not, tried has and get, both yield the same illegal offset:

http://i.imgur.com/7PcTA3E.png

  if(Setting::has('support.from_name')) echo 'a';
  if(Setting::get('support.from_name')) echo 'a';

[2014-05-03 15:57] #5 closed, assigned to nobody

[2014-06-23 00:44] mmswiderski opened #6 "Compatibility with laravel 4.2"
Do you have plans to make laravel-settings compatible with laravel 4.2? The problem lies in your package dependency on `"illuminate/support": "~4.1"`.

[2014-07-24 00:54] Someguy123 opened #7 "Fix PHP 5.3 Compatibility"
In `ServiceProvider.php`, you're using `$this->` while in a closure. That's a PHP 5.4 feature and breaks your compatibility with php 5.3.28 (Tested on One.com shared hosting). I've attached a pull request with the fix for this, which is passing it in as a use() variable instead.

[2014-07-24 05:03] #7 closed, assigned to nobody

[2014-11-12 19:21] #6 closed, assigned to nobody

[2014-11-22 09:06] twoSeats opened #10 "Please allow installation with L5"
Hi, please could you update composer.json to allow installation with Laravel 5

[2015-01-07 09:46] bequiet88 opened #11 "Issue with Dot Notation in DatabaseSettingStore.php"
Hey Anlutro,

Thank you very much for your handy settings library.

I came accross a problem in the write() function of DatabaseSettingStore. The error occurs when I use setting keys with dot notation. In case such a setting item is updated, the current write method does not execute the update in line 96 but the insert in line 110. This is due the "isset IF condition" in line 95 that always return

[2015-01-07 10:33] anlutro commented on #11
Hello, thanks for letting me know. This ended up being a bug in the test suite which didn't properly register if the correct things were being inserted/updated. 0d0cbd5 in master should fix the issue, if you could see if the fix works for you that would be great.

[2015-01-08 05:13] bequiet88 commented on #11
Hi Andreas,

I appreciate your quick help on this matter. But it's still not working for me. Your fix in DatabaseSettingStore actually raised a couple of new issues for me:

1. Line 96
array_set() must fill $updateData not $data

2. Line 97
static::arrayUnset() only removes the deepest level elements of the array.
Given this array:
nest.one
nest.two
nest.three
...
In case all 2nd level elements of

[2015-01-08 07:42] anlutro commented on #11
Hmm, looking back I'm not sure what I was thinking - I was hesitant to use array_dot for some reason but I was clearly already using it in `prepareWriteData`...

Anyway, you're right, I wrote a functional test that uses an in-memory database and your suggested fix code was more or less correct. Try updating now.

[2015-01-08 08:42] bequiet88 commented on #11
Hi, Thanks for fixing it again. It's now working for me :+1:

[2015-01-08 08:42] #11 closed

[2015-01-08 08:44] anlutro commented on #11
Great, tagged a new version so you don't have to use `dev-master`.

[2015-02-16 14:24] tlorentzen opened #12 "Publish config file fails"
Im getting the following error when running the config publish command.

php artisan config:publish anlutro/l4-settings

exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Call to undefined method Illuminate\Config\Repository::package()' in /Users/Thomas/Documents/OAD/Projects/Project/vendor/anlutro/l4-settings/src/ServiceProvider.php:57
Stack trace:
#0 /Users/Thomas/D

[2015-02-16 14:25] anlutro commented on #12
Which Laravel version are you on?

[2015-02-16 14:32] tlorentzen commented on #12
Laravel 5.0 stable

[2015-02-16 14:38] anlutro commented on #12
I'll look at it. I guess v5 support should still be considered experimental. I don't have any apps I intend to update to v5 yet so sorry for the lag on fixing issues.

[2015-02-16 14:47] tlorentzen commented on #12
Okay
I will see if i can come up with a fix.

[2015-02-16 15:12] anlutro commented on #12
Try changing the version of my package to `dev-master@dev` in your composer.json and see if it works now.

[2015-02-16 19:24] tlorentzen commented on #12
Hi, it looks like it working now :+1: I will do some testing tomorrow and write back.

It also looks like you have to update the documentation, i can see that other packages are publishing config files in Laravel 5 with the following command:

php artisan vendor:publish

[2015-02-16 19:26] tlorentzen commented on #12
1 suggestion is maybe moving the config file to the root of the config folder, can see intervention/image is doing that.

[2015-02-16 19:28] anlutro commented on #12
Yeah I'll have a look at the readme.

I'd like to move the config file, it looks ugly the way it is now, but it doesn't look like I can without breaking backwards compatibility.

[2015-02-16 19:37] anlutro commented on #12
Also keep in mind that you have to call `Setting::save()` manually since the shutdown callback that made it possible to auto-save is nonexistant in Laravel 5.

[2015-02-17 11:31] tlorentzen commented on #12
So i did some testing, and it looks like it fails to locate the published config file.
No error is outputted, but nothing happens when changing 'store' to database, but if i change it directly in the package, it works.

So far that´s the only error i found.

[2015-02-17 13:33] tlorentzen commented on #12
The mergeConfigFrom could be called from the Register method in the ServiceProvider.php
http://laravel.com/docs/5.0/packages#configuration

[2015-02-17 15:50] anlutro commented on #12
Looks like having a folder for config files is impossible. At least I can't figure out a way. I've changed it to just publish a `config/settings.php` file now, that seems to work. Hopefully it doesn't overlap with any other packages...

[2015-03-06 15:34] englishpigdog opened #13 "DB Store Forget"
Hi Andreas

I'm using the db store method and I'm not able to get the 'forget' method to work. I've looked the source and I think the items that are forgotten are just removed from the array, so when the database queries are run there is nothing to remove any existing reference of that key in the database.

[2015-03-06 16:06] anlutro commented on #13
Hey,

Can you change your version in composer.json to `dev-master@dev`, run `composer update anlutro/l4-settings` and see if the problem is fixed for you?

If it works I'll tag a version, the `dev-master` thing should only be temporary.

[2015-03-06 16:20] englishpigdog commented on #13
Seems to be an issue in dev-master too unfortunately.

[2015-03-06 16:31] anlutro commented on #13
OK, I think I nailed it in 3d4e89b. Try again please (make sure you get that exact commit when you `composer update` - it can be a bit delayed sometimes).

[2015-03-09 09:49] englishpigdog commented on #13
Just tested it and it seems to be working. Nice work.

[2015-03-09 09:49] #13 closed

[2015-03-09 10:56] anlutro commented on #13
Great. Tagged 0.2.13, so you can switch back to `0.2.*` for your version constraint.

[2015-03-10 11:44] anlutro commented on #10
The library should work with Laravel 5 now. The only caveat is that you have to manually call `Setting::save()` after modifying them - they won't save automatically.

[2015-03-10 11:44] anlutro commented on #12
Assuming this works now. Let me know if it doesn't and I'll re-open.

[2015-03-10 11:44] #12 closed

[2015-03-10 13:03] JessNielsen opened #14 "Documentation on the different stores"
Hi, could you perhaps add a bit more documentation on how to use the JSON store and the databse store, i guess that its something you change in the config, but an actual example would be nice

[2015-03-10 13:05] anlutro commented on #14
Yeah I can work on that. If you publish the config file as described in the readme and edit the published file, you can change various settings there, including which store to use.

[2015-03-10 13:16] JessNielsen commented on #14
also, do i have to run the createJsonDriver() before using the package?

[2015-03-10 13:23] anlutro commented on #14
No, that's done for you. You can just do `Setting::get('foo')` or whatever and the appropriate driver will be created automatically.

[2015-03-10 13:26] JessNielsen commented on #14
Ok thanks!

[2015-03-10 13:26] #14 closed

[2015-03-23 08:37] tlorentzen opened #15 "Return default on empty string"
Hi,

Is it possible to add a third option on the get method so it will return the default value on empty string also?

[2015-03-23 08:40] anlutro commented on #15
I prefer to be strict in regards to when to return the default value. You can easily achieve this behaviour yourself by leaving out the default argument and using ternary operators:

[code]

[2015-04-01 03:04] ivanmijatovic89 opened #16 "Extend get ?"
i make table columns just like in your readme: key, value, user_id
Can you please write me code for :
1. How can i get all  results where user_id = 1 ?
2. How can i get all results where user_id = 1 and key = 'site'?
Thanks

[2015-04-01 06:18] anlutro commented on #16
Check the first example here: https://github.com/anlutro/laravel-settings/blob/master/README.md#database

Just replace `Auth::user()->id` with `1`, and then call `Setting::all()` or `Setting::get('site')`.

[2015-04-01 15:29] ivanmijatovic89 commented on #16
Thanks,
One more question.
How can i first get all settings where user_id = 1, and after that get all settings for user_id = 2?
$user1_settings = ....;
$user2_settings = ....;
When i try to get two different settings ( with different query ) i always get back with same results
I use this code below, but i can't get it work
// User 1
Setting::setConstraint(function($query) {
	return $query->where('

[2015-04-04 08:02] anlutro commented on #16
That's because query results are cached. I'll add some code that clears the cache when the constraint is changed, but honestly if you want to do this sort of thing you may as well just do it manually with `DB::table('settings')->all()` or whatever the name of your table is.

[2015-04-04 16:20] ivanmijatovic89 commented on #16
Thanks Anlutro,
In meantime i create my own settings storage. I can suggest that you are missing:
- easier way for querying data
- easier way for storing data ( example more columns )
Best regards

[2015-04-04 16:20] #16 closed

[2015-04-04 17:24] anlutro commented on #16
Probably a good idea. I don't use the database store myself and probably never will, so I probably won't ever get around to implementing these more advanced features.

[2015-04-10 14:21] garygreen commented on #10
@anlutro you can use the php function `register_shutdown_function` which might be a suitable altnerative. If you want to do it the 'cool kids' way with Laravel 5 middleware, you can use `TerminableMiddleware` (session does this to store session at the end of the script)

[2015-04-10 14:26] anlutro commented on #10
I will do the middleware, shutdown function is a big no no. I'm just lazy about it since I don't use version 5 myself.

[2015-04-10 14:26] #15 closed

[2015-04-10 14:27] garygreen commented on #10
I'll try and implement it and do a PR. Out of interest what's your beef with the `register_shutdown_function`? ;-)

[2015-04-10 15:17] anlutro commented on #10
Libraries should mess with PHP's lifecycle as little as possible unless it's something very specific like an error handler - it just makes problems so much harder to track down. What would happen if the save call inside `register_shutdown_function` threw an exception? I wouldn't know without testing it manually. What if it occurs after `fastcgi_finish_request()`?

PRs would be more than welcome! :

[2015-04-13 09:10] garygreen opened #18 "Support arrays in ::get"
It would be cool to be able to get multiple settings like:

[code]

Return:

[code]

[2015-04-13 10:37] anlutro commented on #18
If this should be supported, I feel that the following should also work:

[code]

What do you think?

[2015-04-13 10:38] bweston92 commented on #18
How would default value be handled in this scenario?

[2015-04-13 10:43] anlutro commented on #18
That's a good question. I think non-existant array keys should be left out of the return value, unless you provide an array as the `$default` argument to `get()`, in which case that'll be merged with the result.

[2015-04-13 10:45] bweston92 commented on #18
Maybe make this another method `getMulti`?

[2015-04-13 10:45] garygreen commented on #18
@anlutro possibly, I personally wouldn't use it, as I think when accessing properties you should only do so in dot-format. Laravel's `Config::` works same way, you can't send it a multi dimensl array to get, only dot format.

For default value, to keep things simple I would just return whatever you've set for any keys that it couldn't find. In theory you could add support for an array for `$defaul

[2015-04-13 10:49] garygreen commented on #10
@anlutro this could probably be closed now pr #17 is merged

[2015-04-13 10:52] garygreen commented on #18
I wouldn't want an extra method like `getMulti` just for accessing by array. `get` should be fine and it keeps things consistent with multi array support similar to it's `set` sibling.

[2015-04-13 10:53] anlutro commented on #10
Yep. Thanks!

[2015-04-13 10:53] #10 closed

[2015-04-13 10:55] anlutro commented on #18
Keeping it consistent with `Config::get` sounds good. Makes it easier to implement as well.

[2015-04-13 14:11] anlutro commented on #18
Implemented here https://github.com/anlutro/laravel-settings/issues/19 in case you have any feedback.

[2015-04-15 06:13] anlutro commented on #18
Added in 0.2.15

[2015-04-15 06:13] #18 closed

[2015-05-12 13:58] MeeDNite opened #20 "Where to call setExtraColumns"
Hi,
Where should we call setExtraColumns and and custom Columns?

[2015-05-12 14:02] anlutro commented on #20
Somewhere that's called before the request is routed. In 4.x that's either `app/start/global.php` or in a service provider's `boot()` method. In 5.x I suppose you have to write a middleware.

[2015-05-12 16:15] kamaroly commented on #20
I tried it i the boot() but it's not working !

[2015-05-14 02:49] ZzAntares opened #21 "Need a builtin function for Setting::clear(), Setting::flush() or Setting::forgetAll()?"
Hello! Thanks for this very nice package! I've tried others before non have been perfect, but this one it's really really close, I think it only needs a way to flush, clear or remove all saved settings. Right now I've made a function to loop over all settings and forget them one by one, but could be nice to have this function builtin.

Or maybe this already exists but is not in the docs. Searching

[2015-05-14 06:02] anlutro commented on #21
You're right, it doesn't currently exist. I don't see a reason not to add it.

[2015-05-14 09:34] anlutro commented on #21
Added in 0.3.0, which should be backwards compatible but has a few behaviour improvements.

[2015-05-14 09:34] #21 closed

[2015-05-18 09:52] anlutro commented on #20
Are you sure you're not calling `Setting::get` or something before you're calling `setExtraColums`?

Are you sure the service provider is actually loaded? Put a `die('test')` at the top of the `boot()` method.

[2015-05-21 07:39] kamaroly commented on #20
@anlutro , thanks  I fixed it, I was passing a null object without knowing. What I have done I creaeted settings service provider and placed \Setting::setExtraColumns(array(
		   		 'user_id' => \Session::get('userId');
				));
init

[2015-05-22 13:21] #20 closed

[2015-06-08 20:54] rtconner opened #23 "Add a MemorySettingStore"
Store settings in memory only, and don't write them to anywhere permanent.

The use case for this is for Unit Tests. Can't be writing to a json file every time I run Unit Tests.

[2015-06-09 05:20] bweston92 commented on #23
Would this be better called ArraySettingStore?

—
Sent from Mailbox

On Mon, Jun 8, 2015 at 9:54 PM, Rob <notifications@github.com> wrote:

[2015-06-09 05:58] anlutro commented on #23
Good idea.

I think "array" would be more consistent with Laravel, but "memory" is definitely the correct word to use.

[2015-06-09 06:16] cve opened #24 "Cast will be helpfull"
Hi,

for JSON powered APIs the casts like Laravel 5 Eloquent property will be helpful.

[2015-06-09 06:19] anlutro commented on #24
It should be possible to just do `return Setting::all()` or `return Setting::get('foo')` from a controller, and because it's an array, Laravel's router should transform it into a JSON response.

It's not really possible for me to do something similar to what Eloquent does in this regard, since the setting store returns arrays or scalar values, not objects.

Or did you have something else in mind?

[2015-06-09 06:20] anlutro commented on #23
Added in 0.4, no breaking changes.

[2015-06-09 06:20] #23 closed

[2015-06-09 06:25] cve commented on #24
I use HTML5 number type input in my UI. Setting value in DB is store as string (varchar), so when I return simple Settings:all() from my route yes it casting to JSON, but I mean casting particular keys to specified types for example setting with key "default_price" => "float". Like $casts property in Eloquent.

[2015-06-09 06:29] bweston92 commented on #24
Have a layer in front of the settings store that handles it?

—
Sent from Mailbox

On Tue, Jun 9, 2015 at 7:25 AM, cve <notifications@github.com> wrote:

[2015-06-09 06:29] anlutro commented on #24
Ah, I see. I'll think a bit about it but I don't think there's a good way for this library to do what you need.

My initial thought is I suggest you write a class that either extends the setting store, or takes the setting store as a constructor argument, and then you write some wrapper logic that does whatever casting you need.

[2015-06-09 06:31] cve commented on #24
Ok, I will do this manually by looping each key and casting... Thanks for your time.

[2015-06-09 06:31] #24 closed

[2015-06-09 17:10] rtconner commented on #23
Thanks so much for the fast response! This works great from my tests.

[2015-06-30 16:18] illuminate3 opened #25 "nested.element usage"
Hi,

I was wondering how would I go about using "nested.element".

Thanks

[2015-06-30 16:19] anlutro commented on #25
Should work out of the box. `Setting::get('foo.bar')`

[2015-06-30 16:47] illuminate3 commented on #25
I just playing with your package today so I'm still trying to get my way around it.
Thanks for saving me lots of time!

Sorry, I meant, how would I go saving to it? Do, I also need to make an extra column in the DB?

[2015-06-30 16:50] anlutro commented on #25
`Setting::set('foo.bar', $value)` or `Setting::set('foo', ['bar' => $value]')`

Works just like `Config::get/set` or `array_get/array_set`.

You don't need any extra columns than `key` and `value`. Follow readme instructions and you should be fine.

[2015-06-30 17:04] illuminate3 commented on #25
Thanks!

I'm trying to figure out how to make some of the "settings" multi-lingual and I thought that the nested element would be a solution.

(I'm using github/vinkla/translator and all of this work is going towards github/illuminate3/rakko)

[2015-06-30 17:17] anlutro commented on #25
If you only want certain settings to vary from language to language, nested elements is probably the best way.

If you want entirely different sets of settings for each language, you can use `Setting::setExtraColumns(['lang' => App::getLocale()])` if you're using the database store, or `Setting::setPath(storage_path(App::getLocale().'-settings.json'))` if you're using JSON.

[2015-06-30 18:24] illuminate3 commented on #25
Thanks!

I was wondering about the "setExtraColumns" feature. Is this db schemas or do I need to use it every time that I call "Setting::" ?

[2015-06-30 18:25] anlutro commented on #25
See https://github.com/anlutro/laravel-settings/issues/20

[2015-06-30 19:21] martinmarianetti opened #26 "Settings not saved on command."
Hi,

I'm using this package in a Command, I need to read/update the settings everytime it runs.
I can read it just fine, but when I need to update the current setting it does nothing.

I'm using Laravel 5, the field I need to update is a date string with 'Y-m-d H:i:s' format.

If I use it in my controllers it works fine, it fails only in a custom command.

[2015-06-30 19:23] martinmarianetti commented on #26
You have to use Settings:save() in order to work.

[2015-06-30 19:24] anlutro commented on #26
Hmm, that makes sense, as the middleware which does the auto-saving is only executed in a HTTP context. A bit of a regression from version 4's shutdown callbacks...

Like you said, you'll need to call `Setting::save()` manually when you're done operating on the settings. I'll add a note about this in the readme.

[2015-06-30 19:26] martinmarianetti commented on #26
Great, thanks!

[2015-06-30 19:46] anlutro commented on #26
Leaving issue open until I've done it, so I don't forget :)

[2015-06-30 19:56] illuminate3 commented on #25
Excellent!
Thanks!

[2015-07-01 06:25] #25 closed

[2015-07-01 06:25] #26 closed

[2015-07-02 15:11] KhoaiTayChien opened #27 "Issue with alias"
I'm using Laravel 5.1, when I use Setting alias in route.php, everything work well, but when I create a controller and return Setting::all(), nothing happened (i already added data in json file)
thanks :)

[2015-07-02 15:21] #27 closed

[2015-08-27 06:54] FalconDev91 opened #29 "Does this have caching enabled?"

[2015-08-27 07:02] anlutro commented on #29
Not out of the box, no. A cache driver wrapper would be a useful feature.

If you use the database driver, I *think* this should work:

[code]

[2015-08-27 07:51] FalconDev91 commented on #29
thanks!

[2015-08-27 07:51] #29 closed

[2015-09-16 05:48] syscoavendano opened #30 "Composer Update Issue"
Hi,

I have an issue with composer update and the error is

{"error":{"type":"Symfony\\Component\\Debug\\Exception\\FatalErrorException","message":"Class 'anlutro\\cURL\\Laravel\\cURLServiceProvider' not found","fil
e":"C:\\wamp\\www\\xxxxxx\\vendor\\laravel\\framework\\src\\Illuminate\\Foundation\\ProviderRepository.php","line":158}}Script php artis
an clear-compiled handling the post-update-cmd

[2015-09-18 08:44] anlutro commented on #30
This is a general Laravel error. Here's the simplest way to get around it.

1. Remove the service provider from your config/app.php.
2. Run `composer update`.
3. Put the service provider back into config/app.php.

If you want to avoid these sorts of problems in the long run, remove the "scripts" part of your composer.json and run a custom deployment script when needed, like in [this example](https

[2015-09-18 18:17] bweston92 commented on #30
There is a "--no-scripts" option or something like that.

—
Sent from Mailbox

On Fri, Sep 18, 2015 at 9:44 AM, Andreas Lutro <notifications@github.com>
wrote:

[2015-10-16 08:05] kendepelchin opened #32 "Fetching twice for another user"
Hey,
I want to fetch settings for a user after the initial fetch is done for the current logged in user (in a route middleware). I have an email that has to be translated to the locale of the user which will receive it.

In the repo $this->loaded is set to true when the initial fetch is done, so the second time it skips this and returns the data.
Any hints or tips on how to conquer this problem?

[2015-10-16 16:18] anlutro commented on #32
A way to run a single settings get/set with a custom constraint would probably be a good feature.

For now, I suggest you either just write some custom code to do it, or use `Setting::setConstraint` or `Setting::setPath` appropriately to make the setting store get that user's settings that way.

[2015-10-26 02:59] Ejimba opened #33 "Migration Error on L4"
Hi,

Great package. Thanks.

I am unable to run the database migration. Throws an error at about here:

https://github.com/anlutro/laravel-settings/blob/e38fd914e2c66215fda07db38ffe01e2cc5bcabf/src/migrations/2015_08_25_172600_create_settings_table.php#L10

"message":"Call to undefined function config()"

I did a dirty little hack to bypass it. Very, very, very dirty I might add. Directly in the v

[2015-10-26 17:10] anlutro commented on #33
I see the problem and I'll get this fixed, but regardless I recommend you copy the migration from the package into `app/database/migrations` and manage it yourself there.

[2015-10-26 17:11] #33 closed

[2015-10-26 17:45] Ejimba commented on #33
Awesome! Thanks

[2015-10-27 16:48] dambridge opened #34 "Class 'Application' not found when running migration"
Got this error when running the migration for the settings table. Fixed by adding the following in the migration:
`use Illuminate\Foundation\Application;`

[2015-10-27 16:52] anlutro commented on #34
Oops, that was a stupid mistake. Pushed a new tag with the fix just now.

[2015-10-27 16:52] #34 closed

[2015-10-27 16:53] dambridge commented on #34
Cheers!

[2015-10-27 17:07] dambridge opened #35 "Class 'CreateSettingsTable' not found when refreshing migrations"
`php artisan migrate:refresh --seed`

produces

`Class 'CreateSettingsTable' not found`

[2015-10-27 17:08] dambridge commented on #35
I suspect because the migration table assumes migration is in database/migrations folder?

[2015-10-27 18:05] anlutro commented on #35
That's correct - I would recommend you "publish" the migration (I think the command is `php artisan migrate:publish` in 4.x).

I **could** add an autoloader for the package migration, but that could cause conflicts with user-defined migrations.

[2015-11-01 09:48] davestewart opened #36 "Doesn't seem to save settings"
Just installed this on L5 and I get a settings file which looks like this: `{}` when running your example code and an array that looks like this: `Array()`

I followed your setup instructions to the letter.

[2015-11-01 12:13] anlutro commented on #36
Did you add the middleware? I don't use Laravel 5 myself so I can't really verify that it works in production.

If you manually call `Settings::save()` after setting the values, does that update the file?

[2015-11-01 13:14] davestewart commented on #36
Hey there.

I tried multiple combinations of middleware, save, etc.

I've since installed another package that is working for me, just thought I would let you know.

It might be the docs, it might be Laravel 5, not sure!

[2015-11-07 21:03] ecomus opened #37 "Calling statically not working in Laravel 5"
When I try and call statically I get the error:

[code]

This is what I'm trying:
[code]
[code]

I can get this working but only by using the following:
[code]
[code]

I'm a newbee to laravel so any help is really grateful

[2015-11-07 21:16] bweston92 commented on #37
I think you should take a look at Laravel's facade documentation. I'm in phone so no time to explain.

—
Sent from Mailbox

On Sat, Nov 7, 2015 at 9:03 PM, Ecomus Ltd <notifications@github.com>
wrote:

[2015-11-08 18:48] anlutro commented on #37
Follow the instructions here: https://github.com/anlutro/laravel-settings#installation Step 2 and 4 in particular.

You're supposed to call the facade class, not the store class itself.

[2015-11-08 20:43] ecomus commented on #37
ah ha, cool thank you for the information on the facade, I hadn't read that before.

I was looking in the database table but hadn't set it up in the settings.php file. Working now thank you both.

Live and learn

[2015-11-08 20:43] #37 closed

[2015-11-19 13:19] #30 closed

[2015-12-10 17:37] jamestowers commented on #35
`php artisan vendor:publish` in L5 ? I'm not getting anything related to laravel-settings being published after running that, bit stuck now as I can't refresh the db, any suggestions?

[2015-12-10 17:46] anlutro commented on #35
Should work in 0.4.3.

[2015-12-10 17:47] anlutro commented on #35
I mean 0.4.5

[2015-12-10 17:58] jamestowers commented on #35
Ah yes 0.4.5 publishes the migration but I'm still getting `Class 'CreateSettingsTable'` not found on `migrate:refresh` / `migrate:reset`

[2015-12-10 18:13] anlutro commented on #35
Try a `composer dump`.

[2015-12-10 18:15] jamestowers commented on #35
Oh yeah... Thanks, that did it!

[2015-12-14 15:31] bsh314 opened #38 "Class not found FatalErrorException"
So one of my laravel 5.0.34 projects needs this utility. Installed it throw composer
[code]
Added Service Provider & Facade
[code]
All exactly as always and according to README. But my controller goes throw FatalErrorException while trying to use 'Setting' facade.

[code]
What can it be? Trully rare problem (maybe stupid, but rare)

[2015-12-14 15:51] bsh314 commented on #38
[code]
**IS a solution**, urgly one, but works.

[2015-12-14 15:58] anlutro commented on #38
If your controller is in a namespace, you have to `use Setting` - just like you're already doing `use Artisan` and `use Input`.

[2015-12-27 20:12] #38 closed

[2016-01-08 00:16] dambridge opened #40 "Dot Notation doesn't work when saving to database"
Related to #11 possibly? When using dot notation, or even passing an array, it is just inserting individual rows per setting. My code is as follows:

[code]
This snippet inserts rows for each array value, with the key reading 'slack.access_token' for example

[2016-01-08 08:15] anlutro commented on #40
That's intentional. The code should merge them into a single array again when you do `Setting::get('slack')`.

[2016-01-14 09:24] vuongdinhngoc opened #41 "Saving array, object to 1 key (1 record)"
Thanks for your great package!
It would be nice if your package gave an option of saving array, object (after serialize()) to 1 key, like wordpress option.

[2016-01-14 09:47] bweston92 commented on #41
Objects aren't supported. Everything is a native value as we use json_encode. (int/float/string/array). Feel free to extend a setting store and using serialize, except it won't be compatible with any other programming language.

[2016-01-15 17:37] anlutro commented on #41
I definitely wouldn't want to implement anything using `serialize()`, though JSON might be an option. However, I don't see a strong argument for why you'd want to do that over using one table row for each setting value - could you elaborate on why you'd like this feature?

[2016-01-16 06:54] #41 closed

[2016-01-28 16:12] dbhynds commented on #35
Thank you! I had the same problem.

[2016-02-01 23:41] andrewtweber opened #42 "Persistent"
"Persistent" is the correct spelling. "Persistant" is used in the package description, readme, etc.

[2016-02-02 08:23] bweston92 commented on #36
Confirmed working for `4.2` and `5.0`, `5.1` and `5.2`

[2016-02-05 10:03] thijsdemaa commented on #42
+1

[2016-02-05 17:40] #42 closed

[2016-02-05 17:40] anlutro commented on #42
How embarassing! Thanks!

[2016-02-05 18:47] andrewtweber commented on #42
You're welcome. Don't forget this spot:

![screenshot](https://cloud.githubusercontent.com/assets/2760420/12855696/7ec39b86-cc06-11e5-9f2e-de9a1a8e69a5.png)

[2016-02-05 18:50] anlutro commented on #42
I don't know why that didn't show up when grepping!

[2016-02-28 18:20] mspiderv opened #43 "Laravel 5.2 compatibility problem"
`FatalErrorException in SaveMiddleware.php line 18:
Interface 'Illuminate\Contracts\Routing\TerminableMiddleware' not found
in SaveMiddleware.php line 18`

I think class SaveMiddleware does not need to implement TerminableMiddleware interface anymore.

[2016-02-28 18:28] anlutro commented on #43
God dammit... If I don't implement the interface, the package breaks for 5.1 and lower.

[2016-02-28 18:30] anlutro commented on #43
https://laravel.com/docs/5.2/upgrade

I don't think these people know what "deprecate" means?!

[2016-02-28 18:36] mspiderv commented on #43
What about create special "SaveMiddleware" for Laravel 5.2 or higher ? Laravel 5.1 (or older) users will still use the old "SaveMiddleware" and Laravel 5.2 (or newer) will use the new class.

[2016-02-28 18:38] #43 closed

[2016-02-28 18:39] anlutro commented on #43
Yeah... I'm just getting tired of having to implement these sorts of hacks every time there's a new version that breaks backwards compatibilities for no reason whatsoever.

[2016-02-29 18:10] drtzack commented on #36
I've similiar problem.

json store works fine for me but database doesn't work

When I save It's not checking is the record exists. It just creating so many records.

Also there is a problem with cache or something else.

In my first try I used "dc_factor" as key but then I changed it to "factor" but it was still creating "dc_factor" I've just searched in everywhere but it wasn't in anywere. Clear

[2016-03-22 13:04] tikhanovichA opened #44 "Json pretty print"
add pls JSON_PRETTY_PRINT for JsonSettingStore:write(). This will be very helpfull, i gues :)

[2016-03-22 18:09] anlutro commented on #44
Good idea. Would you like to try making a pull request for it? I think adding a `$jsonOptions` constructor argument to `JsonSettingStore` which is then passed on to `json_encode`/`json_decode` would be the way to go.

[2016-04-10 17:24] C0deS1ayer opened #46 "How to setup a view to edit all settings in view"
I am trying to impliment this for an page that will allow the user in the admin section to set the colors.

The actual layout I have in settings.index.blade.php is:

[code]

The controller I have is:

[code]

The seed that I am using is:

[code]

My goal is to have all settings in the view to be updated the site.  What am I doing incorrectly?  I'm able to get the #fff into admin view but I am unab

[2016-04-10 18:08] anlutro commented on #46
You might need to call `Settings::save()` in your `update` method, since people have reported the middleware etc. not working in Laravel 5.

[2016-04-10 18:27] C0deS1ayer commented on #46
Do you think since I'm doing it edit on index it might not be passing the information to the update?  Is there something to do with edit that will allow it?  I added the Save:setttings and got a 500.  The next step I did was trying to var_dump out the settings request. See screen shots.  I really appreciate your help.

<img width="1310" alt="screen shot 2016-04-10 at 1 24 37 pm" src="https://cloud

[2016-04-10 19:42] C0deS1ayer commented on #46
I was able to see my error but am getting this in when clicking update.  I wasn't receiving the request before.

<img width="1092" alt="screen shot 2016-04-10 at 2 40 22 pm" src="https://cloud.githubusercontent.com/assets/787437/14412529/36e50a1e-ff2a-11e5-90d1-9389023925c8.png">

Current Update is

`	public function update(Request $request)
	{

		$background_color = $request->input('background_co

[2016-04-26 22:56] zaffar-saffee opened #47 "Multiple settings per user"
say, my user has 10 different settings, should I add 10 more columns ( as example given in your repo)?

[2016-04-26 22:59] zaffar-saffee commented on #47
Alternatively, I do keep doing set('key', value) and when I do selectAll(); it will return all settings related to that user ID?

[2016-04-27 07:19] anlutro commented on #47
You don't need to add columns based on how many settings you have, we use an EAV system like this: https://github.com/anlutro/laravel-settings/blob/master/src/migrations/2015_08_25_172600_create_settings_table.php#L26-L31

You'd add 1 extra column to store the user ID. If you do what's shown in the readme:

[code]

Then all subsequent `Setting::get` calls will only fetch settings for the logged in

[2016-04-27 17:45] ConquestMedia commented on #47
in my app, I need setting likes this

[code]

can I achieve this with single fetch? or I need to get(s1), get(2) and get(3) individually? or settingAll() will fetch this?
One more question, I can use `Setting facade` to access it, but can I add the returned settings and merge it to `Config facade`? Point is, I am using an open source library, and I don't want to edit the code... was looking for su

[2016-04-27 21:02] ConquestMedia commented on #46
@C0deS1ayer were you able to fix it? I would love to know this, I am falling in something very similar

thanks

[2016-04-28 06:45] anlutro commented on #47
I think you'd have to make a manual database query to get all user's settings in an array like that.

To put the settings into the config would just be a matter of `Config::set('settings', Setting::all())`

[2016-04-28 06:56] anlutro commented on #46
Sorry for not responding here but I really can't take the time to debug basic issues for you. Your error message makes it sound like you've got the facade wrongly set up. This is all you should need in your controllers:

[code]

[2016-04-28 18:19] ConquestMedia commented on #47
thanks a million....that makes more sense...forking your repo to update my required changes..and marking this issue close..
I am really thankful to you for such a great project and being such an nice man to spare your time to reply my question..

Happy Open source...keep pouring your abilities for others
God Bless you bro

[2016-04-29 18:37] #47 closed

[2016-04-29 18:42] zaffar-saffee opened #48 "[laravel 5.2.31] Target [anlutro\LaravelSettings\SettingStore] is not instantiable while building"
updating 5.2.31 gave me this error

[code]

See laravel/framework support for this
[#laravel/framework/issues/13347](https://github.com/laravel/framework/issues/13347)

[2016-04-29 18:53] anlutro commented on #48
Did you add the middleware but not the service provider?

[2016-04-29 18:56] zaffar-saffee commented on #48
I believe I have added the both, let me reconfirm it..

[2016-04-29 19:01] zaffar-saffee commented on #48
I have all set up correctly, let me know if I am missing anything
[code]

[2016-04-29 19:04] anlutro commented on #48
No idea, then. For some reason the `terminate` method is running before the service provider has been registered.

[2016-04-29 19:05] #35 closed

[2016-04-29 19:06] anlutro commented on #36
I'll just close this, if anyone has similar issues feel free to leave a comment, I'll probably read it.

[2016-04-29 19:06] #36 closed

[2016-04-29 19:06] #40 closed

[2016-04-30 19:47] ConquestMedia opened #50 "JSONSettingStore problem"
Trying to use  extra-column, but having problems

[code]
although config/config/config.php has
`'store' => 'database',`
boot function of my provider is
`\Setting::setExtraColumns(array('user_id' => \Session::get('userId')));`
I believe databaseSettingStore should be loaded....not sure why this happening..
thanks for your help

[2016-04-30 20:54] ConquestMedia commented on #20
@kamaroly doing this, but fell in #50
please suggest

[2016-04-30 22:08] ConquestMedia commented on #50
so, solved it...
problem was `settings.php` was not being saved..
Code says that it copies `config.php` to `settings.php` in config folder, but for me, it wasn't being done..
Using windows...and seems like windows is the most pathetic development environment

[2016-04-30 22:08] #50 closed

[2016-05-06 19:40] 2eddy opened #51 "[Laravel 4.2] Not getting the correct setting for individual user"
Hi, thank you for this amazing package.

I have 1 problem though. Even though I have setExtraColumns, I am not getting the correct value from setting for each user with `Setting::all()`

What could be the reason?

I'm using Cartalyst/Sentry for authentication. Thank you for your help.

[2016-05-07 06:03] anlutro commented on #51
I don't think sentry has anything to do with it. When and how are you calling `setExtraColumns`?

[2016-05-07 07:39] 2eddy commented on #51
Hi anlutro,

I realized I have to place the setExtraColumns into service provider.

I have gotten this error "Illegal offset type in isset or empty" when I use this provider.

[code]
Is there any step which I have missed?

[2016-05-07 10:46] anlutro commented on #51
Can you provide the full stacktrace?

[2016-05-07 16:00] 2eddy commented on #51
Will this do?

![stacktrace](https://cloud.githubusercontent.com/assets/4593183/15092858/aeb17c24-14a8-11e6-9f26-c2754ced808c.png)

[2016-05-11 09:45] dmitrijsmihailovs opened #52 "Doesnt save settings(L5)"
Hi, for some reason it wont save changes. Here is my code

[code]

[2016-05-11 14:49] anlutro commented on #51
Can you check what `Config::get('anlutro/l4-settings::store')` is?

[2016-05-11 14:51] anlutro commented on #52
Looks correct to me. My best guess is that your save method never gets called. Put a `die('debug')` in there if you want to make sure.

[2016-05-12 11:48] dmitrijsmihailovs commented on #52
I got it working passing request data

[code]

[2016-05-12 16:24] #52 closed

[2016-05-16 17:05] 2eddy commented on #51
It returns an empty array.

This is the content under app/config/packages/anlutro/l4-settings/config.php

`<?php
return array(
	// which type of store to use.
	// valid options: 'json', 'database'
	'store' => 'database',

	// if the json store is used, give the full path to the .json file
	// that the store writes to.
	'path' => storage_path().'/settings.json',

	// if the database store is used,

[2016-05-18 20:01] anlutro commented on #51
It shouldn't return an empty array. I can't tell you why, though. Check that the configuration is in the right place, that you added the service provider etc.

[2016-05-26 06:10] dorin-niscu opened #53 "Laravel translatable integration"
Is there any way to use laravel-settings with laravel-translatable (https://github.com/dimsav/laravel-translatable) ?
I need to store the value in a separate table for different languages (setting_translations) for example.

[2016-05-26 07:52] anlutro commented on #53
There's nothing built-in for translatable settings. You can probably use `setExtraColumns` with the database driver to store different settings for different languages.

[2016-05-30 02:48] MarcosBL opened #54 "Enhancement - Flatten arrays"
In order to create an admin frontend to edit the database values, I have found problems with the nested array keys. In the end I added a helper function to flatten the array, maybe it could be nice to add it to the set of tools of the package:

[code]

So now I can just:

[code]

[2016-05-30 10:13] anlutro commented on #54
This does sound nice to have. Maybe simply adding a `getRawData` method on `DatabaseSettingStore` would do the trick.

[2016-05-30 10:25] MarcosBL commented on #54
Just if you want to take it into account, I found a little problem: in order to maintain ````register_globals```` back compatibility (sic) PHP forces a rename of "group.name" fields into "group_name" when you POST them, not sure if you can realize some way to deal with that, or just leave it to the developer.

In the meantime, I just used a quick hack:

[code]

[2016-05-30 10:28] anlutro commented on #54
I think that should be left to the developer - the idea is that if you use input names like `foo[bar]` `foo[baz]` then doing `Setting::set(Request::only(['foo']))` will set the nested keys correctly.

Maybe that warrants a warning in the readme though...

[2016-05-30 10:36] MarcosBL commented on #54
Sure, that will work, only a bit harder to paint the editing forms. As you say, a little warning surely would help.

My idea was to setup a "variables" system my users could replace in templates (both web and email), and having the flatten array helped a lot.

This is the final interface: I modified the query to order by key, so I can group fields together, added lil red trash icons asking for a d

[2016-05-30 12:27] anlutro commented on #54
Would you like to try and make a pull request for the feature? I think it should just be a matter of adding a new `public function getRawData` (or something similar) to the `DatabaseSettingStore` class and that should make it available as `Setting::getRawData` if you use the database store. It should be fairly easy to write if you look at the existing `read` method for reference.

[2016-06-08 11:44] borex opened #55 "Cannot setup settings for user"
I'm using Laravel 5.2 and trying to save settings by user.
I have created a service provider and into the boot method I have added the following lines:
\Setting::setExtraColumns(array(
            'user_id' => auth()->user()->id
        ));
This service provider is stored in app/Providers/SettingsServiceProvider.php
and is added to the providers array in config/app.php file.

When I load the web s

[2016-06-08 11:53] anlutro commented on #55
I never used Laravel 5 so I can't tell you exactly what you need to do, but basically service providers' `boot` methods are called before the framework checks if there is a user authenticated. You need to move the `setExtraColumns` to somewhere after that - maybe there's a login event listener you can use or something like that.

[2016-06-08 18:24] borex commented on #55
Thanks for your reply. I'll try to do that, but I'm new to Laravel so I have to read more documentation. I'll let you know when I'll have a solution for this.

[2016-07-05 14:46] BCleverly opened #56 "System and User Scope for settings"
I've seen the extra coloumn example, but I'm not quite sure how i can work it into what I'm trying to do.

I want to use the package for system settings on a website, but i also want to have users settings in the same table/setup.

An example would be pricebands.
System default settings would be say
1, Value: 5 - Qty: 100
2, Value: 10 - Qty 200
3, Value: 20 - Qty 400
User settings would make this

[2016-07-05 21:23] anlutro commented on #56
So you basically want a set of global settings that can be overridden on a per-user basis? Would you want any setting to be overridden or only specific ones? Regardless, the feature isn't there today, but it might be something that makes sense to add.

[2016-07-06 08:08] BCleverly commented on #56
Basically yes.
I think that should be configurable, maybe by a flag in the database table row/model.
Would be nice to see this in the future and would set the package out from the rest.
I'll have a look at the package and see if i can work it into the package and make a pull request. Would you be able to label this as a feature request?

[2016-07-06 08:37] anlutro commented on #56
If you'd like to help develop the feature that'd be awesome.

I think since this is a somewhat complex feature, I think creating an additional class that extends the DatabaseSettingStore would be a good idea to prevent subtle bugs from creeping in.

[2016-07-06 20:09] BCleverly commented on #56
I'll see what I can do, any questions etc I'll keep them in this issue thread.

[2016-08-23 00:07] selabie68 opened #57 "[Suggestion] Fall back to JSON if table does not exist"
Every time I deploy my app I am unable to migrate my database because artisan throws an error saying the settings table does not exist.

It would be good if this automatically fell back to the JSON File Driver if the database table has not yet been created.

[2016-08-23 05:06] bweston92 commented on #57
Then it would never use the database so just use JSON anyway.

---Sent from Boxer | http://getboxer.com

On 23 August 2016 at 01:07:20 BST, Michael Smith <notifications@github.com> wrote:Every time I deploy my app I am unable to migrate my database because artisan throws an error saying the settings table does not exist.  It would be good if this automatically fell back to the JSON File Driver if

[2016-08-23 05:16] anarcist69 commented on #57
I will re-phrase:

- I have my `config/settings.php` file set to use a database table
- I am ready to deploy my app so I pull it from my repository and go to run `php artisan migrate`
- I get an error that I cannot run `php artisan` because the table `settings` does not exist
- I then have to go and edit my `config/settings.php` file to use the JSON file driver
- Run `php artisan migrate`
- Now my

[2016-08-23 18:24] anlutro commented on #57
The real issue seems to me that you're using `Settings::get` before migrations are being ran - i.e. too early in your application lifecycle.

[2016-08-29 20:17] Tapha opened #59 "Settings don't seem to persist on Laravel forge scheduled crons."
Is there any reason why this would be the case?

[2016-08-29 20:53] bweston92 commented on #59
That maybe because the save middleware isn't being called.

---Sent from Boxer | http://getboxer.com

On 29 August 2016 at 21:17:21 BST, Tapha Ngum <notifications@github.com> wrote:Is there any reason why this would be the case?  —You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.           {"api_version":"1.0","pub

[2016-08-29 21:20] Tapha commented on #59
Strange. It seems to work when there are no arguments on the scheduled command.

For example, this works:

[code]

But this doesn't:

[code]

[2016-08-30 06:57] anlutro commented on #59
I don't know anything about the scheduler or forge, but you can try just calling `Settings::save()` manually when you're done setting things.

[2016-08-30 09:46] Tapha commented on #59
Just gave that a try. Unfortunately it doesn't seem to resolve the issue.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Andreas Lutro <notifications@github.com>
Sent: 30 August 2016 07:57:53
To: anlutro/laravel-settings
Cc: Tapha Ngum; Author
Subject: Re: [anlutro/laravel-settings] Settings don't seem to persist on Laravel forge scheduled crons. (#59)

I don'

[2016-08-30 10:00] bweston92 commented on #59
@Tapha - what are you using for storage?

There is several issues that can happen, if another process has it open and writes to it after the cron has written it will obviously over-write.

[2016-08-30 17:51] Tapha commented on #59
Turns out I had made the mistake in my $schedule->command(); syntax. My bad guys.

For reference for the better of others. The correct way to pass an argument to a command in the scheduler is like this:

`$schedule->command('reports:request _GET_DATA_')->everyTenMinutes();`

[2016-09-01 13:54] #59 closed

[2016-09-01 16:59] kirobo commented on #48
Same issue

[2016-09-21 09:07] getcrud opened #60 "provider setting on laravel 5.3"
if set provider with
`anlutro\LaravelSettings\ServiceProvider` after command php artisan vendor:publish

i found message  **Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Undefined constant 'anlutro\LaravelSettings\ServiceProvider'**

and i try with `anlutro\LaravelSettings\ServiceProvider::class`

okey. i can publish now.

[2016-09-22 08:06] anlutro commented on #60
Sorry, but I don't understand the problem you're having. You mention php 5.3 in the subject but `anlutro\LaravelSettings\ServiceProvider::class` was only added in php 5.5. It sounds like you just didn't add quotes around the class name the first time around.

[2016-10-20 07:54] #60 closed

[2016-10-20 08:06] #57 closed

[2016-10-20 08:07] #53 closed

[2016-10-20 08:07] #51 closed

[2016-10-20 08:32] #46 closed

[2016-10-26 20:05] alblez opened #61 "preload basic settings"
Hi Andreas,
Thank you for implementing this good idea, I'm trying to figure out the best way to preload the basic settings on the app, for example; Seeds. Have you suggestions?

Best!

[2016-10-26 20:34] bweston92 commented on #61
@alblez nothing stops you using a database seed class to seed settings.

[2016-10-27 11:02] anlutro commented on #61
Yeah, I'm inclined to say that writing your own seeder for this is a good solution.

While seeders were originally intended to work with the database, there's no reason you can't do `file_put_contents('/path/to/settings.json', json_encode($data))` in them if you use the JSON settings store driver.

[2016-12-16 09:31] fimdoit opened #62 "composer install error"
composer.json
[code]
error
PHP Fatal error:  Declaration of Illuminate\Pagination\Paginator::render(Illuminate\Contracts\Pagination\Presenter $presenter = NULL) must be compatible with Illuminate\Contracts\Pagination\Paginator::render($view = NULL) in /Users/ganguo/Work/gitlab/testamii/test/laravel/vendor/laravel/framework/src/Illuminate/Pagination/Paginator.php on line 15

  [Symfony\Component\De

[2016-12-16 15:55] anlutro commented on #62
This doesn't look related to my package at all. Try clearing all cache files.

[2016-12-17 05:45] fimdoit commented on #62
step 1
composer create-project --prefer-dist laravel/laravel laravel "5.2.*"

[2016-12-17 10:51] anlutro commented on #62
Can't reproduce. I think you're doing something wrong because those Laravel 5.3 packages should not be installed when you're requiring laravel/framework 5.2.*. Again, this doesn't have anything to do with my package.

[2016-12-17 10:51] #62 closed

[2017-02-23 13:56] notflip opened #63 "setExtraColumns"
Where do you suggest adding the following line?
Can it also be added in a Controller so we can add id's of other entites then the user

Setting::setExtraColumns(array(
    'user_id' => Auth::user()->id
));

[2017-02-24 11:06] anlutro commented on #63
Unfortunately I'm not really familiar with Laravel 5 so I'm not sure what the correct place to put it would be. Maybe [a service provider's boot method](https://github.com/laravel/laravel/blob/c76716f228d809d24d1886c3e279d08fb8377ebc/app/Providers/AppServiceProvider.php#L16)?

It obviously has to be at a point where `Auth::user()` returns the logged in user, but before any other `Setting::` calls

[2017-02-27 13:57] basvandertogt opened #64 "Class 'App\Http\Controllers\Setting' not found"
Followed all steps but i get: Class 'App\Http\Controllers\Setting' not found
Using Laravel 5.4 PHP 7
Any idea?

[2017-02-27 14:11] anlutro commented on #64
See https://github.com/anlutro/laravel-settings/issues/38

[2017-02-27 14:11] #64 closed

[2017-03-02 22:43] andreslancheros opened #65 "Problem with reserved word in oracle"
I have a problem when try to save a setting using oracle, because the table column is called "key" which is a Oracle reserved word. It's possible in some way set a custom name for package table columns?

[2017-03-02 22:45] anlutro commented on #65
That's not currently possible, but shouldn't be too hard to implement if you want to try and make a pull request.

[2017-03-02 22:49] andreslancheros commented on #65
Ok, thanks, I'll try to do that.

[2017-03-03 08:36] anlutro commented on #65
Awesome. Let me know if you would like some hints or guidance!

[2017-03-03 13:55] andreslancheros commented on #65
Thank your for your answer, this is the first time I'm collaborating on github project, and I'm not sure how to do it. I already did the change, and push it into a forked repository (https://github.com/andreslancheros/laravel-settings).
I want to know if I can do the pull request into this repository, or if you could check the changes first on my forked repository, to help me with some feedback?
T

[2017-03-03 13:58] anlutro commented on #65
No problem, I'm more than happy to introduce you to how it works :)

Just do the pull request and I'll give feedback there. If you go here: https://github.com/andreslancheros/laravel-settings/tree/database-columns-name-param-to-avoid-conflict-with-oracle-reserved-words

There should be a "new pull request" button somewhere on the left, next to the dropdown where you select a branch.

[2017-04-02 15:41] mitto98 opened #67 "FatalErrorException in Manager.php line 138: Call to undefined method anlutro\LaravelSettings\JsonSettingStore::setExtraColumns()"
I'm getting this error when I try to set an extra column in laravel 5.4.16

![7a85458993c6a62efaf80a3dd858eb50](https://cloud.githubusercontent.com/assets/10376295/24588579/2ddad4de-17cb-11e7-8ae0-ebeac36c89d9.png)

I've added the provider to the provider list and done the migration and i'm using a middleware to handle the command.

[code]

[2017-04-02 15:50] shadywallas commented on #67
setExtra Columns is available for database store , what is the use case here , why do you need this implementation,

publish configuration, then change config/setting.php

set store to database  instead of json , also a proper handle should be done to this issue

[2017-04-02 16:00] mitto98 commented on #67
Thank you! Now it works

[2017-04-02 16:01] #67 closed

[2017-04-12 13:13] alexchitoraga commented on #38
Use can use Setting facase as \Setting:: ....

[2017-05-12 14:58] arcanedev-maroc commented on #32
I think it's better to reset the `loaded` property to `false` when the `setExtraColumns` is called.

[2017-05-23 16:05] #61 closed

[2017-06-10 17:02] abkrim opened #69 "Store on different connection not work"
Steps

1. config database.php for sqlite connection
2. config settings.php for use store on database,  path,...

[code]

[code]

Run `php artisan migrate` or `php artisan migrate --path=vendor/anlutro/l4-settings/src/migrations` but two commands same the same problem,

-> Create table on other connection (mysql database)

the sqlite database exists, `storage_path().'/settings.json'`

[code]

[2017-06-11 07:49] anlutro commented on #69
Hey,

I'm not 100% sure but don't you need to pass the connection name to the migrate command? I'm not sure if this is something I can do anything about.

[2017-06-11 17:05] abkrim commented on #69
A lot of thanks
`php artisan migrate --database='NAME_OF_CONNECTION' --path=vendor/anlutro/l4-settings/src/migrations  `

[2017-06-11 17:05] #69 closed

[2017-06-22 12:46] marksie1988 opened #70 "no data returned"
Hi, i have installed this with the latest Laravel 5.4 and cant get any data back:

config\app.php
[code]

Controller:
[code]

[2017-06-22 12:59] bweston92 commented on #70
What do you have for this value?
https://github.com/anlutro/laravel-settings/blob/master/src/config/config.php#L5

[2017-06-22 13:25] marksie1988 commented on #70
Yea that was the issue! Didn't notice the config file just assumed it used the database 😬 Thanks

[2017-06-22 13:25] #70 closed

[2017-06-22 15:24] marksie1988 opened #71 "Show settings in view and update all changed"
Hi, I want to show the settings in a view and then have a form submit them all to be updated?

how would i do this?

[2017-07-05 18:06] anlutro commented on #71
Terribly sorry, I completely missed your question.

Maybe you've already figured it out, but basically you do `$settings = Settings:all()`, iterate through them in your view, and then iterate through POST data and set each one using `Settings::set($key, $val)`.

You might want to take some extra steps, such as whitelisting the keys of settings that can be set, so that the end user can't modify the

[2017-07-05 18:06] #71 closed

[2017-08-16 20:54] bweston92 commented on #65
Just created the PR on your behalf @andreslancheros - hopefully @anlutro can take a look at it soon enough.

[2017-08-16 20:56] bweston92 commented on #63
The correct place IMO would be in the middleware stack or in a service provider.

This can be closed as it was more of a request for guidance.

[2017-08-16 20:58] bweston92 commented on #54
Hey @MarcosBL any progress on a PR?

[2017-08-16 21:00] bweston92 commented on #44
@anlutro a PR was made for this issue by my self but ended up being closed due to inactivity. Should we reopen the PR or close this issue?

[2017-08-19 19:48] anlutro commented on #63
Alright. Maybe something could be added to the readme on this subject, but I'm not sure exactly how to formulate it.

[2017-08-19 19:48] #63 closed

[2017-08-19 19:49] anlutro commented on #44
I think it's a good suggestion, so definitely go for it if you have the time!

[2017-08-20 08:25] bweston92 commented on #44
@anlutro I submitted a PR for it ages ago, you didn't get round to testing/merging #49

[2017-10-08 00:28] Fatih90 opened #74 "support laravel 5.5.* asap"

[2017-10-08 08:33] bweston92 commented on #74
@Fatih90 can you provide an explanation of what you're seeing?

[2017-10-08 08:36] Fatih90 commented on #74
add Package Auto-Discovery https://laravel-news.com/package-auto-discovery

[2017-10-08 10:22] bweston92 commented on #74
Don't see how there is a bug, are you wanting to add a feature? Feel free
to open a PR.
On Sun, 8 Oct 2017 at 09:36, Fatih <notifications@github.com> wrote:

[2017-10-14 22:43] anlutro commented on #56
Sorry for the super late notification but I'm going through my issues and this is a duplicate of https://github.com/anlutro/laravel-settings/issues/3. I'm still interested in having it implemented, but will not be doing it myself (I'll be happy to help out anyone who wants to give it a shot).

[2017-10-14 22:43] #56 closed

[2017-10-27 12:54] #74 closed

[2017-11-05 14:49] mogahead opened #78 "Laravel 5.5 autodiscovery not tagged yet"
Laravel 5.5 autodiscovery not tagged yet , It only found on dev-master branch and not tagged tel now
plz add new tag with the latest changes @anlutro

[2017-11-06 08:36] bweston92 commented on #78
Whoops @mogahead it is now tagged at `0.5.1` https://github.com/anlutro/laravel-settings/releases/tag/0.5.1

[2017-11-06 08:36] #78 closed

[2017-11-07 16:51] chadanuk opened #79 "v0.5.0 to 0.5.1 broke - Laravel 5.4 Migration name conflict"
[This code in `ServiceProvider.php`](https://github.com/anlutro/laravel-settings/blob/0.5.1/src/ServiceProvider.php#L62) breaks our L5.4 app because we have the migration class already existing with the same name (as already published to `database/migrations`).

This causes an issue where both migration classes are autoloaded so a php error is thrown.

This error can be resolved by removing our pu

[2017-11-07 19:00] anlutro commented on #79
Urgh. Maybe just revert the change and release the auto-discovered one as 0.6.0. I have no idea what the correct approach is supposed to be.

[2017-11-07 19:11] anlutro commented on #79
That being said, if autodiscovery breaks backwards compatibility like this, maybe it's not worth implementing at all.

[2017-11-07 20:25] bweston92 commented on #79
@chadanuk I doubled checked that the service provider can call `$this->loadMigrationsFrom` and `$this->publishes` when version 5.3 or above.

I agree with @anlutro we should make this a 0.6 release instead, unfortunately I over looked testing with existing installations whereby the migration had already occurred.

https://github.com/laravel/framework/blob/5.3/src/Illuminate/Support/ServiceProvider

[2017-11-07 20:29] chadanuk commented on #79
@bweston92 @anlutro That makes sense.

👍

[2017-11-08 18:18] anlutro commented on #79
Pushed 0.5.2 and 0.6.0 now, should fix the problem I guess. @bweston92 I don't think anyone can be expected to remember or know all the possible ways Laravel can break things, honestly.

[2017-11-08 18:18] #79 closed

[2017-11-08 18:18] anlutro commented on #79
Pushed 0.5.2 and 0.6.0 now, should fix the problem I guess. @bweston92 I don't think anyone can be expected to remember or know all the possible ways Laravel can break things, honestly.

[2017-11-08 23:04] mogahead commented on #78
done , thanks @anlutro

[2017-11-12 13:16] codetheorist commented on #65
I'd say it makes perfect sense to have table and column names in the config file, but maybe another issue needs to be created for implementing migration publishing.

All of the official Laravel packages have table and column names in the config file, as well as other popular 3rd party packages, such as [Spatie's Laravel Permissions](https://github.com/spatie/laravel-permission) or [Marcel Pociot's

[2017-11-12 13:18] codetheorist opened #81 "Add migration publishing to service provider"
Implement the required functionality to properly publish the migration file to the sites `database/migrations` folder.

[2017-11-12 14:08] codetheorist opened #83 "Have config file pull values from environmental variables"
Does exactly what it says, pulls the config values from environmental variables, for projects that keep all settings in .env file.

[2017-11-12 14:49] codetheorist opened #84 "Enable the wiki functionality"
Enable the wiki in the repository settings, so instructions, guides and tutorials can be submitted in an organised manner.

[2017-11-12 19:55] anlutro commented on #84
Done! Wasn't aware anyone was interested in reading or writing it.

[2017-11-12 19:55] #84 closed

[2017-11-17 18:02] egknight opened #85 "Configuration File"
In Laravel 5.5, when I run

```php artisan vendor:publish --provider="anlutro/l4-settings" --tag="config"```

I expect a local configuration file in config/

I see a config file in vendor folder, but this folder is in my .gitignore

Running ```php artisan vendor:publish``` publishes the file as expected to config/

[2017-11-17 18:24] anlutro commented on #85
Do you know of another package that behaves the way you'd expect?

[2017-11-17 18:25] egknight commented on #85
Just updated comment above, running ```php artisan vendor:publish``` works as expected, however, I don't know if that has other consequences.

[2017-11-17 18:27] anlutro commented on #85
That's weird, but I'm tempted to say this is a bug in Laravel, not with this package.

[2017-11-17 18:33] egknight opened #86 "Auto Save not working"
I have added ```\anlutro\LaravelSettings\SaveMiddleware::class,``` to middleware in Kernel.php but autosave is not working in http request. I am using database for storage. Saves work using ```Setting::save();```

[2017-11-17 18:34] egknight commented on #85
Ok, understood, for me the publish is not an issue. Good for other users to know in any case.

Thanks

[2017-11-17 18:59] anlutro commented on #86
I can't reproduce this on a fresh Laravel 5.5 install. Maybe other serviceproviders are interfering somehow?

[2017-11-17 19:10] egknight commented on #86
I am using fresh laravel install.

[code]
Open up app/Http/Kernel.php

[code]
Open up routes/web.php
[code]
returns "bar"
[code]
Would expect "bar" but returns "default value"

Thanks

[2017-11-17 20:04] anlutro commented on #86
I think that's because you are calling `dd` which will cause PHP to terminate, so the middleware's `terminate` method never gets called.

[2017-11-17 20:18] #86 closed

[2017-11-19 09:36] #85 closed

[2017-11-20 21:42] dejan7 commented on #85
I have Laravel version 5.5.22 and neither command works for me.
Running `php artisan vendor:publish --provider="anlutro/l4-settings" --tag="config"` doesn't copy the file and running `php artisan vendor:publish` gives me a list of packages to publish from, but this package is not among them.

Hint for other people encountering the same issue: copy `/vendor/anlutro/src/config/config.php` to `/confi

[2018-01-08 16:48] bkuhl opened #88 "v0.6.0 - composer.json extra including alias unable to override"
v.0.6.0 introduced this change into the composer.json:

[code]

This is great for the providers, but the alias is a breaking change and we're unable to override it (that I can find anyways).

I have my facade alias configured as:

[code]

I then extend this package's `SettingsManager`.  When upgrading to 0.6.0 I see this error:

[code]

This is happening because it's using the composer's alias rat

[2018-01-08 19:16] anlutro commented on #88
Hey, technically this is indeed a breaking change but that's what major versions are for. However, I think you're doing something wrong here. Why are you using your own facade? I think the more appropriate way of extending a third-party package is by re-binding the underlying class:

[code]

[This page](https://laravel.com/docs/5.0/extending) has some more information. You can also try `Settings::

[2018-01-08 19:21] bkuhl commented on #88
I'm extending so that I can use strongly typed parameters and return values.

It's not possible to overwrite that setting when it's in the composer file, so there's no workaround that I could find other than reverting to the previous version, which works sufficiently.

[2018-01-08 19:28] anlutro commented on #88
Ah, and the strong typing doesn't work when extending the manager/driver because it's the facade you're calling? I remember there used to be code-generators that generated autocomplete stubs for your facades for use in IDEs like PHPStorm, maybe that can help you out. Honestly, reasons like these are reasons I moved away from using facades at all, and just injected the dependencies directly into my

[2018-01-08 21:40] bweston92 commented on #88
Hi @bkuhl sorry for the inconvenience, I've managed to find a [solution](https://laravel.com/docs/5.5/packages) for you though.

Add the following to your applications composer.json file.

[code]

[2018-01-08 21:40] #88 closed

[2018-01-10 16:16] bweston92 commented on #88
@bkuhl can you confirm the proposed solution worked? If so please create a PR to the README.

[2018-01-12 15:50] vahidalvandi opened #89 "not publish config"
i use laravel 5.5 then after run
php artisan vendor:publish --provider="anlutro/l4-settings" --tag="config"
not copy config file in config folder

thanks

[2018-01-23 15:47] DeehSlash opened #90 "Call to undefined method"
Installed everything but I'm getting this error:

Call to undefined method anlutro\LaravelSettings\Facade::set()

[2018-01-23 15:49] #90 closed

[2018-02-03 01:27] beaubuehler commented on #89
Take a look at #85.

[2018-02-03 07:55] anlutro commented on #89
Hey, sorry for not replying.

I haven't really been involved in Laravel for 2 years now so I really don't know how the modern style vendor publishing is supposed to work. As far as I can tell I've followed the [documentation](https://laravel.com/docs/5.5/packages#publishing-file-groups), so it *should* work - if it doesn't then my best guess is a bug in Laravel, which I'm not going to investigate.

[2018-02-03 07:55] #89 closed

[2018-03-06 13:12] sarhugo commented on #85
FYI the error is in the provider parameter.. you must point to the class name of service provider. Correct command line is:

`php artisan vendor:publish --provider="anlutro\LaravelSettings\ServiceProvider" --tag="config"`

[2018-03-06 13:12] sarhugo commented on #89
FYI the error is in the provider parameter.. you must point to the class name of service provider. Correct command line is:

`php artisan vendor:publish --provider="anlutro\LaravelSettings\ServiceProvider" --tag="config"`

[2018-03-06 22:00] anlutro commented on #89
@sarhugo thanks for pointing that out! Would you like to make a pull request to correct this in the readme? Do you know if this affects all versions of Laravel or just a few?

[2018-03-07 03:03] FinesseRus commented on #81
+1. Running an individual command for an individual migration is a clutter.

[2018-03-07 03:42] FinesseRus opened #91 "How to prevent the built-in migration from running?"
As I can see in the `SettingsProvider.php` file, the `vendor/anlutro/l4-settings/src/migrations/2015_08_25_172600_create_settings_table.php` migration is added to the migrations list in Laravel ≥ 5.3 and run on `php artisan migrate` regardless.

What if I use a JSON file to store the settings and don't want a new table in the database? How to remove the migration from the list of migrations?

####

[2018-03-07 13:11] sarhugo commented on #89
@anlutro checking when provider parameter was initially implemented seems that always was the class name: https://github.com/laravel/framework/commit/160c68d05ac73d671aaf188668401c973166feea#diff-8e559dffe73d8f3f506545dd3ba6346e

I'll make a PR fixing the readme

[2018-03-14 07:45] #91 closed

[2018-03-14 08:26] FinesseRus commented on #81
**Update.** This issue is closed via #92. Now the only thing you need is to run `php artisan vendor:publish --provider="anlutro\LaravelSettings\ServiceProvider" --tag="migrations"` to copy the migration to your migrations directory.

[2018-03-15 18:15] benyanke commented on #83
1+ on this, I agree it should be done.

Looks good to merge, right?

[2018-03-15 19:52] bweston92 commented on #83
@benyanke needs rebasing.

[2018-05-20 03:38] carlost89 opened #100 "Every setting is saved multiple times in every request"
Laravel version: 5.5.40
PHP version: 7.0

I added this code in a controller to save some settings in database:

`$key = $request->key;
        $value = $request->value;

        $setting->set($key, $value);

        $setting->setExtraColumns([
            'display_name' => $key,
            'type' => 'text',
        ]);

        $setting->save();

        return $setting->all();`

The problem is t

[2018-05-20 05:46] anlutro commented on #100
That's not the intended use of `setExtraColumns`. It's meant for things like a user ID if you want separate settings per user. Maybe the method name is not the best, and it can be made more clear in the documentation.

I'm also afraid there is no way to do what you want - saving a display name and type along with the value. It's an interesting feature request but might be difficult to implement. I

[2018-06-02 07:11] rajasekar-d opened #101 "DatabaseSettingsStore caching help"
Trying to extend the DatabaseSettingStore class to caching the database results but i don't have any idea how to extend & use the extended class in app. Any help will be appreciated.

**MY Store Class**
[code]

Don't no where i have to place the below code in laravel. Whether i have to place the below code in Laravel AppServiceProvider?
[code]

[2018-06-02 09:01] anlutro commented on #101
Hello and thanks for wanting to contribute!

Yes, the correct place to put the `Settings::extend` call would be in a AppServiceProvider, in the `boot` method.

I haven't worked with Laravel in a few years now, so you might want to consider looking for help from people more up-to-speed with it than me - maybe the [laravel IRC channel](https://webchat.freenode.net/?channels=laravel). They might also

[2018-06-02 12:07] rajasekar-d commented on #101
Thanks for your help  quick reply. Still i confused after placing the below code in AppServiceProvider. I don't now how to call  mystore. Tried IRC channel no luck.
[code]

[2018-06-02 12:09] anlutro commented on #101
Have you set the config file to use `mystore` as the store instead of `json` or `database`? If you do that, `Setting::get` etc. should all be using your store class.

[2018-06-02 12:50] rajasekar-d commented on #101
I changed the config tore option to cachingstore but laravel throws an error
[code]

Also i shared my entire code below
[code]

**App\SettingDriver\CachingSettingStore.php**
[code]

**App\Providers\AppServiceProvider.php**
[code]

**App\Http\Controllers\UserSettingsController.php**
[code]

**App\config\settings.php**
[code]

[2018-06-02 12:52] rajasekar-d commented on #101
I changed the config store option to cachingstore but laravel throws an error
[code]

Also i shared my entire code below
[code]

**App\SettingDriver\CachingSettingStore.php**
[code]

**App\Providers\AppServiceProvider.php**
[code]

**App\Http\Controllers\UserSettingsController.php**
[code]

**App\config\settings.php**
[code]

[2018-06-02 12:53] rajasekar-d commented on #101
I changed the config store option to cachingstore but laravel throws an error
[code]

Also i shared my entire code below

**App\SettingDriver\CachingSettingStore.php**
[code]

**App\Providers\AppServiceProvider.php**
[code]

**App\Http\Controllers\UserSettingsController.php**
[code]

**App\config\settings.php**
[code]

[2018-06-02 12:54] anlutro commented on #101
You need to provide the fully qualified class name to `app->make`:

[code]

[2018-06-02 13:16] rajasekar-d commented on #101
Works like a charm except table name reference. In the setting config table name is **settings** but cachingSettingStore refers **persistant_settings**  table instead of settings.

[2018-06-02 16:28] anlutro commented on #101
Ah. You need to modify your `$app->make` statement to pass in all the configuration variables. That doesn't get done automatically. You might not even need to use `$app->make` at all, see [here](https://github.com/anlutro/laravel-settings/blob/master/src/SettingsManager.php#L29) for example.

[2018-06-02 17:02] rajasekar-d commented on #101
@anlutro  Sorry! I didn't get you. Can you please provide some example using my code as base.

[2018-06-06 14:19] anlutro commented on #101
Hey, sorry, I kinda forgot about this.

What I mean is, in your serviceprovider, you have to replace your `$app->make('App\SettingDriver\CachingSettingStore')` call with something like this:

[code]

You can look up [this function](https://github.com/anlutro/laravel-settings/blob/master/src/SettingsManager.php#L29) to get an idea of how to get the values for `$connection`, `$table` and so on. If y

[2018-07-02 11:26] manojrhr opened #102 "Settings are not saving into database"
I have installed this repo to my laravel 5.6.12 and write this code
[code]
But my I didn't get anything in my settings table. Is there any thing I am missing?

[2018-08-06 09:33] mr-jingles opened #103 "Enhancement - placeholder (%s, %d) replacement in settings"
Hi,
it would be nice -  to be able to send some variables with the key. So that placeholders in the value string will be replaced. For example:

'message' => setting('general.confirmation.mail_body',null,[auth()->user()->signature]).
I'm currently using vsprintf in order to make this work.

Thanks for this package!

[2018-08-06 09:40] bweston92 commented on #103
Changing the functionality of `settings` I think would be confusing.

I would be inclined to have a function named `settingf` and `set_settingf` instead.

[2018-08-06 18:16] anlutro commented on #103
Hey, thanks for the suggestion!

I don't really think that PHP offers a nice way to provide this sort of functionality. Your example looks awkward with the `null` in the middle, for example. We could provide things like `format_setting` but then we should also provide things like `translate_setting`, and there are potentially multiple ways of formatting strings... I think it's best to just keep us

[2018-08-07 05:16] mr-jingles commented on #103
I am using a helper function - settingf - now. Thanks for the suggestion @bweston92!

[2018-08-07 05:16] #103 closed

[2018-08-09 08:25] jhm-ciberman opened #104 "Settings::fake() and Settings::assertSaved() for testing?"
Hello. I have my app with a few settings. I want to test the route `admin.settings.update`:
I am currently using the json store.

[code]

Yes... this could be done with dependency injection. But... The spirit of Laravel is to test easily, do you think?

So... It would be great to have those two methods:

[code]

[2018-08-09 10:42] bweston92 commented on #104
Use the memory setting store. Touching the disk with the JSON store isn't desirable in tests anyway.

https://github.com/anlutro/laravel-settings/blob/master/src/MemorySettingStore.php

As for asserting the fact the data is saved is probably not ideal, this should middleware if I recall correct which saves anyway.

https://github.com/anlutro/laravel-settings/blob/master/src/SaveMiddleware.php

[2018-08-09 11:02] anlutro commented on #104
Agreed with @bweston92 - the best mock is no mocking at all :)

There was an issue some time ago that Laravel 5.something didn't call the middleware's `terminate` method anymore so I'm not 100% sure if that's reliable anymore.

If you want to be sure that `save` has been called, maybe we should introduce a "buffer" in the memory store which means that `Settings::get` won't return the newly set val

[2018-08-09 11:31] bweston92 commented on #104
A buffer or just  simple ‘hasChanges’ method?

[2018-08-10 12:30] bweston92 commented on #104
It would actually be very hard if bad people use mutable objects too.

If `set` is called with an object or array containing an object within, then mutation can occur without us knowing.

[2018-08-11 11:40] Venrir commented on #102
same for me

![image](https://i.mavis.moe/f/QkPMLyjZZC/2018-08-11-13-31-49gif.gif)

[2018-08-13 08:05] bweston92 commented on #102
@Venrir can you share how you've set it up, and the code that sets and saves?

[2018-08-16 05:45] rehmatworks opened #105 "Saving and retrieving settings for different users"
Hello,
Your readme asks to add this:
[code]
But where do we need to add this? In `ServiceProvider.php`? Or where? Please help. Moreover, what's the easy way to get setting for a different user? `setting('my_key')` will retrieve the setting for the signed in user, but how can we retrieve the setting for a different user? Any explanation will be appreciated.

[2018-08-16 12:01] anlutro commented on #105
In a service provider's `boot` method (if that is still a thing) is fine. In general it depends on what you want to set the extra columns for. And no, there's no easy way to get settings for a different user - I'd recommend just manually querying the database for that.

[2018-08-20 14:54] bweston92 commented on #32
Closing as stale.

[2018-08-20 14:54] #32 closed

[2018-08-20 14:55] #44 closed

[2018-08-20 14:56] bweston92 commented on #48
Was there a fix for this?

[2018-08-20 19:13] codevisiondevelopment commented on #102
config/settings.php
Change:
`'store' => 'json'`
To
`'store' => 'database'`

[2018-08-21 07:09] anlutro commented on #44
Sorry about that. I don't do any manual testing and simply didn't merge because of the 5.3 compat. This is not something I care about anymore, so if you want to re-open and just increase the version constraints in `composer.json` and `.travis.yml` I'm not going to stop you :)

[2018-08-21 08:05] #48 closed

[2018-08-21 16:36] leabdalla commented on #105
I've the same scenario and partially solved with `app/Providers/SettingServiceProvider.php`

    <?php

    namespace App\Providers;
    use Auth, JWTAuth;
    use Illuminate\Support\ServiceProvider;

    class SettingServiceProvider extends ServiceProvider
    {
        public function boot()
        {
            if(\Auth::guard('api')->check()){

                $user = JWTAuth::parseToken()->a

[2018-09-19 21:57] DePiedra commented on #100
Skip is possible for update. If the value is same then skip. I think its provide better performance.

in DatabaseSettingStore line 147
[code]

[2018-10-11 04:46] kamov opened #107 "Override laravel configuration"
I would like to override laravel configuration from the settings.

Something like below in config/app.php

[code]

When I try I get blank page.

Where is best place to do this?

Thanks

[2018-10-11 04:47] kamov opened #108 "Setting class not found"
I am using laravel 5.7, which have auto detect package.
However, when I try to use Setting class (by including in controller use Setting)
then is not found.

Only helper or app('setting') work fine.

[2018-10-11 07:49] bweston92 commented on #107
The issue here is `setting` is being called prior to it being setup.

[2018-10-12 17:11] kamov commented on #107
I understand.. where is best place to put the override of config? in service provider?

[2018-10-12 17:11] kamov commented on #108
I was able to fix somehow.. but phpstorm still can't find it..

[2018-10-12 17:11] #108 closed

[2018-10-20 09:48] bweston92 commented on #107
You can put it in a service provider yes.

[2018-10-20 09:48] #107 closed

[2018-11-01 19:05] larabar commented on #102
I'm having this same issue, the ::set() method does nothing, just returns null

::get() works perfectly fine, retrieving from the database as expected

[2018-11-23 08:53] jhm-ciberman commented on #104
Hello again. It seems fantastic. How do you recomend changing the Store driver?

I changed the following lines in the config file:

[code]

And then I use the environment variable to change the store for the testing env.

I think this should be documented on the readme and changed in the config file.

I currently don't have the time, but I can make a PR later if you agree (or you can do it yoursel

[2018-11-23 19:05] anlutro commented on #104
Setting the environment variable in phpunit.xml seems like a perfectly fine approach, and is what is recommended by the Laravel docs.

[2018-11-26 07:33] kamov opened #109 "Multiple json file"
Can I use mutiple json file? If yes, how to store and retrieve from multiple json file?

Thanks

[2018-11-26 08:42] bweston92 commented on #109
This logic would have to sit in your own JSON store implementation there is to many different setups/layouts of files people may want to use for us to cater this.

[2018-11-26 08:42] #109 closed

[2018-11-26 16:15] kamov commented on #109
I understand. I think that you could do something like Laravel config, where each file of config is begin of namespace of keys, like config('app.name'); where 'app' is the filename app.php

So for you would be setting('app.name') where 'app' is filename app.json

When you said to use my own json store implementation, I suppose you mean this:
https://github.com/anlutro/laravel-settings#custom-store

[2018-11-26 16:17] kamov commented on #109
If everything is stored in single file, by using settings in relation with a user_id, then the file can become very large. Or not?

[2018-12-13 16:50] Hiros101 commented on #102
Make sure to run `php artisan config:cache` after changing config file.

[2018-12-13 18:08] #102 closed

[2019-01-07 13:45] bweston92 commented on #104
Looks like a solution was reached, will close feel free to reopen.

[2019-01-07 13:45] #104 closed

[2019-01-07 13:46] #81 closed

[2019-01-07 13:47] #65 closed

[2019-04-25 03:30] zefexdeveloper opened #112 "Model for using with laravel auditing"
I'm using https://github.com/owen-it/laravel-auditing so I can keep track of what changes in my application and I was wondering, how can I set up in your package as I don't have access to the model?
I need to declare `use \OwenIt\Auditing\Auditable;` in the model.
It's REALLY important cause I might store information such price for products and things like that I want to keep track of what changes

[2019-04-25 08:19] bweston92 commented on #112
Given the little amount of changes we have done in the last few years I would recommend forking and maintaining your own copy with your features.

Closing, feel free to reopen.

[2019-04-25 08:19] #112 closed

[2019-06-29 09:03] lptn opened #114 "Error: Array to string convertion"
Caused by https://github.com/anlutro/laravel-settings/commit/64847e5e0eddd62aaa5b32166fe8ff776ae66252#diff-5f739c62a5526bb1126b48e57a807b63R48

Condition: $default  === null, $key is an array

[2019-07-01 13:08] bweston92 commented on #114
Should be fixed in `0.8.3` https://github.com/anlutro/laravel-settings/commit/851dd685b5659edc07a34df0a5415217a6595654

[2019-07-01 14:12] bweston92 commented on #114
Closing, please re-open if there is any issues.

[2019-07-01 14:13] #114 closed

[2019-07-01 15:12] lptn commented on #114
@bweston92
Thanks for the fix!

There is an option to support defaults for multiply keys (not tested):
[code]

[2019-07-16 12:04] rayderua opened #115 "Resaved all if at least one is installed"
Hello.
As i see, when i call Setting::get they loaded all settins from database
```select * from `settings```

If I call once Settings::set / Settings::forget etc (any changes in settings) all settins will resaved in database. For example if i have 200 settings key in database, and change 1 key, it's generate 200 updates query to database. This creates an extra useless load on the database.

code:

[2019-07-16 12:22] rayderua commented on #115
I fixed this issue in my code, by adding 4 lines in code
[code]
[code]

[2019-07-16 12:27] bweston92 commented on #115
Hi @rayderua thanks for spotting, do you mind putting in a PR?

[2019-07-16 12:34] rayderua commented on #115
update previous comment patch for 0.8.3
What is PR?
in any case, if that fixes issue, then I don't mind :)

[2019-07-16 13:26] rayderua commented on #115
May be this issue is a duplicate for
https://github.com/anlutro/laravel-settings/issues/100

[2019-09-05 05:03] xKairu opened #117 "Laravel 6.0 support"
Just had a quick test and it seems to work on 6.0, just needs the composer updated to allow installation.

[2019-09-05 07:24] bweston92 commented on #117
@xKairu would you mind sending a PR?

[2019-09-05 07:51] SadeghPM commented on #117
Its not true. due to [upgrade guide](https://laravel.com/docs/6.0/upgrade#helpers) all `str_` and `array_` helpers removed from framework.
In this package for example:  file `DatabaseSettingStore.php`  array helper used (`array_dot`).Therefor you cant add laravel 6 support by just changing laravel version in `composer.json` file!

[2019-09-05 07:54] SadeghPM commented on #117
Quick solution: requiring `laravel/helpers` in `composer.json`

[2019-09-05 22:49] xKairu commented on #117
Yeah I just noticed the db driver issue. Took a crack at it [here](https://github.com/xKairu/laravel-settings), but I was having issues with `ArrayUtil::set` throwing `UnexpectedValueException`.

If I have `'test' => 'test'` in the database, then try saving `'test.test' => 'test'`, it'll throw the exception. If I do the nested key first, then unnested, it'll overwrite the first one.

Maybe someone

[2019-09-16 09:51] bweston92 commented on #117
I have added a recommended fix for this, can you all try `dev-master` and see if it is working as expected? If so I will tag a release.

[2019-09-16 15:46] ilirhushi commented on #117
@bweston92 I am using `dev-master` version and so far everything seems good, I will let you know if I notice any issues

[2019-09-17 20:28] bweston92 commented on #117
Ok @ilirhushi which backend provider was you using? Could you possibly test both so I can make a release?

[2019-09-18 07:56] ilirhushi commented on #117
@bweston92 currently on my system I am using `SettingStore` and is working OK

[2019-09-18 08:21] bweston92 commented on #117
Is that the file store or database store?

On Wed, 18 Sep 2019 at 08:56, Ilir Hushi <notifications@github.com> wrote:

[2019-09-18 08:22] ilirhushi commented on #117
@bweston92 Database store

[2019-10-03 03:07] SergeyMiracle commented on #117
Any update on Laravel 6.0 support?

[2019-10-03 10:34] ilirhushi commented on #117
@SergeyMiracle use the `dev-master` until @bweston92 makes a new release

[2019-10-03 11:03] bweston92 commented on #117
@ilirhushi are you using dev-master without any issues? I can tag a new major release if everything is working ok.

[2019-10-03 11:05] ilirhushi commented on #117
@bweston92 so far I have used `dev-master` version and everything is working just fine, so I think you can tag a release

[2019-10-03 20:57] bweston92 commented on #117
Tagged as v0.9

[2019-11-04 14:43] aglipanci commented on #100
@anlutro I think the actual issue here is not the use of setExtraColumns but the issue which is also reported at #115

Every time the save() method is called all the settings are re-updated on the DB.

I think there is a PR for this but is not merged yet.

[2019-11-04 15:16] #115 closed

[2019-11-04 15:17] bweston92 commented on #100
hopefully the PR https://github.com/anlutro/laravel-settings/pull/116 has fixed it, let me know if there is any issues

[2019-11-04 15:26] aglipanci commented on #100
@bweston92 thanks for the quick reply. Unfortunately, now it saves nothing.

[2019-11-04 15:42] bweston92 commented on #100
Sorry @aglipanci reverted, I will take a look later.

[2019-11-16 20:36] rayderua opened #124 "if the value of the variable has not been changed through the set function, it is not re-read from the database."
Example:
[code]
Need the ability to re-read values from the database, even if nothing has changed.
Something like Setting::reload();

In SettingStore, we have the
```public function load ($ force = false)```
but $force don't use anywhere.

Case: We use two script (for example laravel commands). If first script will delete settings from databas, second script will not know about itю

[2019-11-16 21:09] #124 closed

[2019-11-16 21:10] rayderua commented on #124
sorry, my mistake :) I can use Setting::load(true) :)

[2019-11-28 13:13] aglipanci commented on #100
@bweston92 did you had a chance to look at this?

[2019-12-12 05:52] gurisa opened #126 "Lumen support"
I wonder if this package can be used in Lumen App (>5.8)

[2020-01-15 19:17] kvachakhia opened #129 "Update in Database"
Hi,
I trying update but not making

[code]

[2020-01-16 07:48] kvachakhia commented on #129
@anlutro

[2020-01-28 10:31] aglipanci commented on #100
@carlost89 my PR fixed this issue. Now it saves only if there is a change.

[2020-01-28 10:36] #100 closed

[2020-01-28 10:47] aglipanci commented on #117
@bweston92 I think you can close this one too.

[2020-02-12 22:25] dschiller commented on #117
Could someone get it running on Laravel 6.x ?

If I use `Setting::set('breadcrumbs', 'true');` in my Controller nothing happens on Database side.

I am using Laravel 6.15.1. I also tried to add `laravel/helpers`which didn't change or fix it.

[2020-02-12 22:38] aglipanci commented on #117
@dschiller I think you need to call Setting::save() to persist the changes on the DB.

[2020-02-12 22:55] dschiller commented on #117
@aglipanci Wow, thanks a lot! I believe this Behaviour changed. Before Laravel 6.x I was using 5.x and there I used the `.set` Method which worked.

[2020-02-12 23:02] dschiller commented on #117
@aglipanci Sorry made a Mistake. I doesn't work. I tried `set`and `save` both doesn't work. I wonder that I don't get any Errors.

[2020-02-12 23:07] dschiller commented on #117
How can I execute the Tests at `vendor\anlutro\l4-settings\tests` ?

[2020-02-12 23:16] dschiller commented on #117
Found it: `vendor\bin\phpunit vendor\anlutro\l4-settings\tests`

[2020-02-12 23:24] dschiller commented on #117
Tests running succesfully:

[code]

[2020-02-12 23:32] dschiller commented on #117
Fortunately `Setting::get()` works well.

[2020-02-12 23:42] dschiller commented on #117
I tried

[code]

and also

[code]

[2020-02-12 23:54] dschiller commented on #117
Found a Solution:

[code]

This works for me. I have no idea why the other Code fails.

[2020-02-15 17:51] Scimiazzurro opened #131 "Save defaults into database"
I want to have default values for my config already saved in database.

Should I proceed with making a Seed?

[2020-02-15 18:40] biswajitpaul01 opened #132 "Unable to resolve NULL driver"
It runs fine on local system but on server I am getting this error:

[code]

Please help.

[2020-03-03 19:31] MeekLogic opened #133 "Not compatible with Laravel 7"
- **Conclusion: remove anlutro/l4-settings v0.10.0**
 - Conclusion: don't install laravel/framework v7.0.1

[2020-03-07 16:22] MeekLogic commented on #133
You can close due to #134

[2020-03-07 21:02] #133 closed

[2020-03-07 21:04] #117 closed

[2020-03-31 00:00] tobz-nz opened #136 "Disabling the cache does not seem to disable the cache."
I'm been debugging an issue in my app that seems to be coming from the fact that caching does not seem to be disabled in settings.

By this I mean fetching a value from the settings store twice in the save process does not refect changes that may have happened between those 2 calls.

In my case this is a scheduled task that refreshes an API access token as it expires - but any queued jobs (run wit

[2020-04-02 18:01] anlutro commented on #136
This is probably the `JsonSettingStore` keeping the settings in memory, not a caching issue. This library was very much written with HTTP handling in mind, so it kind of assumes that once settings are read into memory, that memory will be wiped in no more than a few seconds.

I don't know what the appopriate way to hook this into the Laravel task framework is, possibly `$schedule->before(...)`, bu

[2020-04-02 21:46] anlutro commented on #136
A PR would be really nice :)

[2020-04-02 21:46] anlutro commented on #132
Hello, sorry for not replying here. I hope you figured it out? :)

[2020-04-02 21:58] anlutro commented on #131
Hello - sorry for not replying :)

Yes, a seed would be the appropriate way to populate your database with default settings, if for whatever reason you don't want to put them in the config file.

[2020-04-02 21:58] #131 closed

[2020-04-11 06:31] mishabachkur opened #138 "Add support Laravel ^7.1"

[2020-04-21 11:10] #138 closed

[2020-04-30 23:10] engeslamsaad opened #139 "Illuminate\Contracts\Container\BindingResolutionException thrown with message "Target [anlutro\LaravelSettings\SettingStore] is not instantiable while building [anlutro\LaravelSettings\SaveMiddleware].""
Illuminate\Contracts\Container\BindingResolutionException thrown with message "Target [anlutro\LaravelSettings\SettingStore] is not instantiable while building [anlutro\LaravelSettings\SaveMiddleware]."

Stacktrace:
#13 Illuminate\Contracts\Container\BindingResolutionException in /var/www/html/ecommerce-laravel/vendor/laravel/framework/src/Illuminate/Container/Container.php:960
#12 Illuminate\Cont

[2020-05-02 18:22] anlutro commented on #139
Did you run `php artisan config:publish` as described [here](https://github.com/anlutro/laravel-settings#installation---laravel--55)?

[2020-05-11 07:42] KailasRazorpay opened #140 "Passing all digits in key causes error while updating settings later"
Reproducing the problem which I am been facing :
1. Set key value pair with key having all digits (eg:- '123') and save.
2. Set key value pair with key having at least one alphabet (eg:- 'abc') and save.
3. Set key value pair again with any generic value (eg:- 'efg') and save.

On the third insertion, getting the error,
```"SQLSTATE[22007]: Invalid datetime format: 1292 Truncated incorrect DOUBLE

[2020-05-12 14:08] bweston92 commented on #140
Fix is in v0.11.1

[2020-05-12 14:08] #140 closed

[2020-05-13 07:14] tgarm opened #142 "got "syntax error, unexpected ')' when using 0.11.1"
When using 0.11.1, calling "Setting::all();", got the error message:
![1589353930](https://user-images.githubusercontent.com/24644183/81782288-2e883700-952c-11ea-9d15-60aaae75e30f.jpg)

This can be solved by remove the "," in line 71.

[2020-05-13 08:54] bweston92 commented on #142
Thanks for the report, will add a fix in now.

[2020-05-13 08:54] bweston92 commented on #142
Released in `v0.11.2`

[2020-05-13 19:00] #142 closed

[2020-07-01 17:57] #139 closed

[2020-08-06 07:52] enkota opened #143 "Returning an array of settings."
Hey,

I am trying to reduce the number of queries made by returning specific settings. An issue I've found is when returning an array where one of the values should return the default, it returns `null`.

Is there a way so that if `test` wasn't in the database yet, it can return the default value in a get array? I guess I could seed the database, but kind of makes the default values in config usel

[2020-08-06 09:16] anlutro commented on #143
Hey, thanks for opening the issue! This is definitely a bug, I'll make sure to look into it.

[2020-08-06 09:23] enkota commented on #143
Awesome thanks @anlutro - For the time being I see you are returning all rows with a `get()` request regardless, so I'm just using multiple `get()` for each value.

Brilliant package! Saves me building it out manually 👍

[2020-08-06 21:02] #143 closed

[2020-08-07 15:00] anlutro commented on #143
Tagged v0.11.3 with a fix just now.

[2020-08-07 18:58] enkota commented on #143
Brilliant thanks @anlutro ! Will give it a try.

[2020-09-09 18:02] akhiidwandhare commented on #132
what is a solution, did you find it? please share.

[2020-10-30 15:04] sribna commented on #102
Still not working for Lara 8

`config/settings.php` exists, `'store' => 'database'`
_settings_ table also exists

Run `php artisan config:cache` several times

`ddd(setting()->set('test', 'value'))` returns NULL

`ddd(setting(['test' => 'value']))` returns a different result ( I 'd expect the same result)

[code]

[2020-10-30 15:46] bweston92 commented on #102
@sribna `setting()` called with an array will set the configuration and then return the result. When you call `set` on the store it will not. `set` is correct to be void.

`setting()`: https://github.com/anlutro/laravel-settings/blob/6029f6aeb84fe74cdfb0c0152e69576033fb665f/src/helpers.php#L8

`SettingStore::set()`: https://github.com/anlutro/laravel-settings/blob/6029f6aeb84fe74cdfb0c0152e6957603

[2021-02-22 06:55] ccrims0n opened #150 "Add support for deferred service provider for Laravel >=5.8"
In laravel 5.8, `$defer` property of the service provider has been replaced by the `Illuminate\Contracts\Support\DeferrableProvider` interface.

Since the `laravel-settings` package has not implemented that interface for laravel 5.8, its initialization is not deferred.

[2021-06-17 06:05] ishan501 opened #152 "Does it support Laravel 8?"
I'm getting the error: Class 'App\Http\Controllers\Setting' not found

I've added this line to app.php alias array: 'Setting' => 'anlutro\LaravelSettings\Facade',

Is it the correct way? Does it support V8?

[2021-06-17 20:14] anlutro commented on #152
Hello! This has nothing to do with your Laravel version, just how PHP namespaces work. See https://github.com/anlutro/laravel-settings/issues/38

[2021-06-17 20:14] #152 closed

[2021-06-24 10:54] bjhijmans commented on #136
I had a similar issue and I looked at the `Settings::load(true)` solution, but that would require running it in everything that goes to the queue and uses settings, which is not just jobs, but also emails, notifications, some events and some other jobs added by vendor code that I don't want to change.

So instead I decided to create a custom setting store that restarts the queue after saving setti

[2021-06-24 11:10] #136 closed

[2021-07-15 09:20] sausin opened #153 "Dynamic database setting"
First off, thanks for the awesome package!! It's super straightforward to move from `config` to `setting`. I loved the feature to have defaults to start with!!

I'm trying to get it to work in a multi-tenant setup and it works if I'm using the `setPath` method to dynamically set up `settings` when using `json` store. However, if I try to go with `database` store, then there seem to be some issues

[2021-07-16 18:31] anlutro commented on #153
this error message is pretty clear: the table is missing from your database. based on your config snippet it seems like you might be running an individual database/schema for each of your tenants? if that's the case, and you want to keep settings in these tenant databases, you'll somehow need to make sure that the settings package's migrations are ran against *all* of those databases.

if you'd li

[2021-07-17 06:50] sausin commented on #153
@anlutro thanks for your reply! All the migrations are indeed already run for all tenants. What happens is that the database is switched depending on the tenant selected and the default database field corresponding to the `tenant` connection (default) is `null`. When the `Setting` singleton is bound by the application during bootup, there is no `database` selected and hence the error (as I underst

[2021-07-17 08:24] anlutro commented on #153
Aah, I see.. That doesn't explain why the error says there's no *table* `settings` though, but I'll assume there's an explanation for that.

I can't think of another immediate solution to your problem than the `tenant_id` in a "main" database. If you want/need to keep the settings in individual databases, I think you'll need to extend the DatabaseSettingStore class to keep an associative array of

[2021-07-17 10:02] sausin commented on #153
@anlutro `setConnection` could be awesome, but I agree that this is rather niche and may not warrant the effort on this package.

I'll try out the `tenant_id` solution for now. An alternate option (which I'd implemented for now) was to use the `json` store and have individual `settings.json` file for each `tenant`. This kept settings separately but introduced a future issue of folder sharing when

[2021-07-17 10:02] #153 closed

[2021-07-26 10:39] #150 closed

[2021-08-15 18:43] anubhav217 opened #156 "RTL Support"

[2021-08-18 13:05] bweston92 commented on #156
Hi @anubhav217 could you please elaborate on what you would like to see?

[2021-08-18 13:06] #132 closed

[2021-08-18 13:06] #129 closed

[2021-08-18 13:07] #105 closed

[2021-11-22 16:48] yasrebi commented on #129
oops ! your code is working for me , im using laravel 8
1. `use anlutro\LaravelSettings\Facade as Setting;`
2. `Setting::set('foo', 'bar');`
3. `Setting::save();`

Thank You.

[2022-02-08 16:39] oriceon opened #157 "Laravel 9?"
[code]

[2022-02-09 21:22] bweston92 commented on #157
Hey @oriceon do you mind submitting a PR and I would be happy to review.

[2022-02-10 08:38] bweston92 commented on #157
Closed by #158

[2022-02-10 08:38] #157 closed

[2022-02-23 07:05] miaotiao opened #160 "set empty array will throw Exception"
run：setting(['financial' => [] ])->save();

result：throw ErrorException: Array to string conversion in file

I think if set key a empty array ,dont save this key will better ?

[2022-08-17 14:51] sergeynilov opened #162 "Can anlutro/l4-settings work with MongoDB ?"
In laravel 9 with MongoDB(jenssegers/mongodb 3.9) I added "anlutro/l4-settings": "^1.1"
and in file config/settings.php I set connection option:

[code]
In config/database.php file I have :
[code]

But calling method in control :

[code]
I got default "123"	 value, but not value from database.

Working with jenssegers/mongodb  in my models I have to replace  model declaration with
use Jenssegers\M

[2022-08-18 08:38] bweston92 commented on #162
We don't currently have any plans to support any other database backends.

However you can create a setting store within your project that interacts with MongoDB.

An example of our database setting store https://github.com/anlutro/laravel-settings/blob/master/src/DatabaseSettingStore.php

[2022-08-18 08:38] #162 closed

[2022-09-22 21:22] justageek opened #163 "any idea if this works for Laravel 9.x?"
Just curious if you know if this works with 9.x?

[2022-09-23 09:14] bweston92 commented on #163
We should be supporting Laravel 9, I assume it is working, if not please report any issues.

https://github.com/anlutro/laravel-settings/commit/f29acedff79d832ee5f08c7cf7feadf86bcf2255

[2022-10-20 05:12] mrdigitalau opened #164 "Settings to not save when using DB transactions"
Thanks for this great library.

I current have my settings stored in the database.

I am having a problem where I am using a Database transaction, and the setting does not save, it will only save if I do it outside of the transaction.

Is this a limitation with this package that you cannot save settings (in database) using a DB Transaction?

Thanks

[2022-10-21 14:48] anlutro commented on #164
Hey! There's nothing in the library that should cause the behavior you're seeing. Are you sure you're simply not committing the transaction?

[2022-10-25 11:14] m-safwan opened #165 "Incorrect key is returned in SettingsManager->all()"
Incorrect key is returned when using ```SettingsManager->all()``` if the keys are stored as numeric values such as ```1234```, ```0``` etc.

Code:
[code]

Output:
[code]

Analysis:
This issue is due to this [line](https://github.com/anlutro/laravel-settings/blob/master/src/SettingStore.php#L234) of code in SettingsStore.php:232. This line uses ```array_merge``` to merge the two arrays. If the arra

[2022-10-26 05:53] m-safwan commented on #165
@anlutro Could you please check this?

[2022-10-26 08:32] bweston92 commented on #165
@m-safwan if you create a pull request with a fix and test's to demonstrate it is now working I would merge and do a new major release.

[2022-10-26 11:30] m-safwan commented on #165
@bweston92 Sure, I've created https://github.com/anlutro/laravel-settings/pull/166 to fix this.

[2022-10-26 14:05] bweston92 commented on #165
Thanks @m-safwan for providing fix and test case, please upgrade to `v1.2.0`

[2022-10-26 14:05] #165 closed

[2022-11-12 18:03] yusufkaracaburun opened #167 "Hidden keys"
Hi,

Is it also possible to make some keys hidden, like `protected $hidden = ['column_name']`?